@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #505962;
}

*,
::after,
::before {
  box-sizing: border-box;
  width: initial;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*---Navigation---*/

.navbar {
  text-transform: lowercase;
  font-weight: 00;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}

a {
  color: #5280d6;
}

a:hover {
  /* color: #40474e; */
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.281);
}

.navbar-brand img {
  height: 2rem;
}
.navbar-nav li {
  padding-right: 0.7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #5280d6;

  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

/*---Landing Page---*/
.home-inner {
  background-image: url(img/renjola.jpg);
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 17%;
  z-index: 1;
  color: white;
}
.caption h1 {
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.9rem black;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
  padding-bottom: 1.6rem;
}
.btn-lg {
  margin-top: 45vh;
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
}

/*---about Section---*/

.about img {
  border-radius: 50%;
}
.img-fluid {
  max-width: 60%;
  height: auto;
}

[class*="col-"] {
  padding: 2rem;
}

blockquote .svg-inline--fa {
  color: #5280d6;
  margin: 1rem;
  padding: 3rem;
  text-align: center;
}
.about {
  border-top: 0.05rem solid #5280d6;
  margin: 4rem;
  max-width: 40%;
  align-content: center;
}
.row {
  text-align: center;
}
.col-md-8 {
  max-width: 25rem;
}
.about {
  align-content: center;
}

/*---Projects Section---*/
h5.project {
  padding: 1rem;
  margin-bottom: 1rem;
}
ul:before {
  content: attr(aria-label);
  font-size: 120%;
  font-weight: bold;
  margin-left: -15px;
}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
  margin-top: 1.9rem;
}
.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #5280d6;
  margin: 0 auto 2rem;
}
.underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #5280d6;
  margin: 0.5em auto 0.5em;
}
.project svg.svg-inline--fa {
  color: #5280d6;
}
.project h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: 0.4rem;
}
.project p {
  font-size: 1.1rem;
}
.zeal {
  max-width: 4rem;
}

.lead {
  margin-top: 2rem;
}

.list {
  list-style-type: square;
  text-align: center;
  padding: 0 6em 0;
  margin: 0;
}

/*---Contact Section---*/
footer {
  background-color: #40474e;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer img {
  height: 3rem;
  margin: 1.5 rem 0;
}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem 0.5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: #5280d6 !important;
}
hr.socket {
  width: 100%;
  border-top: 0.2rem solid#5280d6;
  margin-top: 3rem;
}

/*============= CV section =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
  font-size: 2.4rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #5280d6;
  background-color: #5280d6;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #40474e;
  background-color: white;
  color: #40474e;
}

/* ============ BOOTSTRAP BREAK POINTS: */

/* Extra
  small
  (xs)
  devices
  (portrait phones, less than 576px)
  No
  media
  query
  since
  this
  is
  the
  default
  in
  Bootstrap
  Small
  (sm)
  devices
  (landscape phones, 576px and up)
  @media
  (min-width: 576px) {
  ...;
}

Medium (md) devices (tablets, 768px and up) @media (min-width: 768px) {
  ...;
}

Large (lg) devices (desktops, 992px and up) @media (min-width: 992px) {
  ...;
}

Extra
  (xl)
  large
  devices
  (large desktops, 1200px and up)
  @media
  (min-width: 1200px) {
  ...;
} */

/* ============= */

/* animation start */
.glitch {
  position: relative;
  color: white;
  letter-spacing: 0.5em;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #5280d6;
  /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #5280d6, 2px 2px #dd3b28;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
  a percentage for the specific step. It then generates a random clip
  box to be used for the random glitch effect. Also adds a very subtle
  skew to change the 'thickness' of the glitch.*/
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(5px, 9999px, 64px, 0);
    -webkit-transform: skew(0.92deg);
    transform: skew(0.92deg);
  }
  5% {
    clip: rect(31px, 9999px, 63px, 0);
    -webkit-transform: skew(0.57deg);
    transform: skew(0.57deg);
  }
  10% {
    clip: rect(59px, 9999px, 54px, 0);
    -webkit-transform: skew(0.06deg);
    transform: skew(0.06deg);
  }
  15% {
    clip: rect(65px, 9999px, 48px, 0);
    -webkit-transform: skew(0.98deg);
    transform: skew(0.98deg);
  }
  20% {
    clip: rect(60px, 9999px, 55px, 0);
    -webkit-transform: skew(0.36deg);
    transform: skew(0.36deg);
  }
  25% {
    clip: rect(54px, 9999px, 47px, 0);
    -webkit-transform: skew(0.58deg);
    transform: skew(0.58deg);
  }
  30% {
    clip: rect(24px, 9999px, 38px, 0);
    -webkit-transform: skew(0.08deg);
    transform: skew(0.08deg);
  }
  35% {
    clip: rect(86px, 9999px, 93px, 0);
    -webkit-transform: skew(0.64deg);
    transform: skew(0.64deg);
  }
  40% {
    clip: rect(82px, 9999px, 40px, 0);
    -webkit-transform: skew(0.82deg);
    transform: skew(0.82deg);
  }
  45% {
    clip: rect(21px, 9999px, 29px, 0);
    -webkit-transform: skew(0.34deg);
    transform: skew(0.34deg);
  }
  50% {
    clip: rect(19px, 9999px, 51px, 0);
    -webkit-transform: skew(0.86deg);
    transform: skew(0.86deg);
  }
  55% {
    clip: rect(93px, 9999px, 25px, 0);
    -webkit-transform: skew(0.06deg);
    transform: skew(0.06deg);
  }
  60% {
    clip: rect(32px, 9999px, 82px, 0);
    -webkit-transform: skew(0.63deg);
    transform: skew(0.63deg);
  }
  65% {
    clip: rect(32px, 9999px, 16px, 0);
    -webkit-transform: skew(0.15deg);
    transform: skew(0.15deg);
  }
  70% {
    clip: rect(17px, 9999px, 80px, 0);
    -webkit-transform: skew(0.35deg);
    transform: skew(0.35deg);
  }
  75% {
    clip: rect(74px, 9999px, 58px, 0);
    -webkit-transform: skew(0.84deg);
    transform: skew(0.84deg);
  }
  80% {
    clip: rect(7px, 9999px, 13px, 0);
    -webkit-transform: skew(0.8deg);
    transform: skew(0.8deg);
  }
  85% {
    clip: rect(47px, 9999px, 37px, 0);
    -webkit-transform: skew(0.69deg);
    transform: skew(0.69deg);
  }
  90% {
    clip: rect(3px, 9999px, 90px, 0);
    -webkit-transform: skew(0.43deg);
    transform: skew(0.43deg);
  }
  95% {
    clip: rect(93px, 9999px, 61px, 0);
    -webkit-transform: skew(0.61deg);
    transform: skew(0.61deg);
  }
  100% {
    clip: rect(44px, 9999px, 14px, 0);
    -webkit-transform: skew(0.11deg);
    transform: skew(0.11deg);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(5px, 9999px, 64px, 0);
    -webkit-transform: skew(0.92deg);
    transform: skew(0.92deg);
  }
  5% {
    clip: rect(31px, 9999px, 63px, 0);
    -webkit-transform: skew(0.57deg);
    transform: skew(0.57deg);
  }
  10% {
    clip: rect(59px, 9999px, 54px, 0);
    -webkit-transform: skew(0.06deg);
    transform: skew(0.06deg);
  }
  15% {
    clip: rect(65px, 9999px, 48px, 0);
    -webkit-transform: skew(0.98deg);
    transform: skew(0.98deg);
  }
  20% {
    clip: rect(60px, 9999px, 55px, 0);
    -webkit-transform: skew(0.36deg);
    transform: skew(0.36deg);
  }
  25% {
    clip: rect(54px, 9999px, 47px, 0);
    -webkit-transform: skew(0.58deg);
    transform: skew(0.58deg);
  }
  30% {
    clip: rect(24px, 9999px, 38px, 0);
    -webkit-transform: skew(0.08deg);
    transform: skew(0.08deg);
  }
  35% {
    clip: rect(86px, 9999px, 93px, 0);
    -webkit-transform: skew(0.64deg);
    transform: skew(0.64deg);
  }
  40% {
    clip: rect(82px, 9999px, 40px, 0);
    -webkit-transform: skew(0.82deg);
    transform: skew(0.82deg);
  }
  45% {
    clip: rect(21px, 9999px, 29px, 0);
    -webkit-transform: skew(0.34deg);
    transform: skew(0.34deg);
  }
  50% {
    clip: rect(19px, 9999px, 51px, 0);
    -webkit-transform: skew(0.86deg);
    transform: skew(0.86deg);
  }
  55% {
    clip: rect(93px, 9999px, 25px, 0);
    -webkit-transform: skew(0.06deg);
    transform: skew(0.06deg);
  }
  60% {
    clip: rect(32px, 9999px, 82px, 0);
    -webkit-transform: skew(0.63deg);
    transform: skew(0.63deg);
  }
  65% {
    clip: rect(32px, 9999px, 16px, 0);
    -webkit-transform: skew(0.15deg);
    transform: skew(0.15deg);
  }
  70% {
    clip: rect(17px, 9999px, 80px, 0);
    -webkit-transform: skew(0.35deg);
    transform: skew(0.35deg);
  }
  75% {
    clip: rect(74px, 9999px, 58px, 0);
    -webkit-transform: skew(0.84deg);
    transform: skew(0.84deg);
  }
  80% {
    clip: rect(7px, 9999px, 13px, 0);
    -webkit-transform: skew(0.8deg);
    transform: skew(0.8deg);
  }
  85% {
    clip: rect(47px, 9999px, 37px, 0);
    -webkit-transform: skew(0.69deg);
    transform: skew(0.69deg);
  }
  90% {
    clip: rect(3px, 9999px, 90px, 0);
    -webkit-transform: skew(0.43deg);
    transform: skew(0.43deg);
  }
  95% {
    clip: rect(93px, 9999px, 61px, 0);
    -webkit-transform: skew(0.61deg);
    transform: skew(0.61deg);
  }
  100% {
    clip: rect(44px, 9999px, 14px, 0);
    -webkit-transform: skew(0.11deg);
    transform: skew(0.11deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(35px, 9999px, 67px, 0);
    -webkit-transform: skew(0.25deg);
    transform: skew(0.25deg);
  }
  5% {
    clip: rect(47px, 9999px, 50px, 0);
    -webkit-transform: skew(0.47deg);
    transform: skew(0.47deg);
  }
  10% {
    clip: rect(13px, 9999px, 32px, 0);
    -webkit-transform: skew(0.59deg);
    transform: skew(0.59deg);
  }
  15% {
    clip: rect(11px, 9999px, 66px, 0);
    -webkit-transform: skew(0.86deg);
    transform: skew(0.86deg);
  }
  20% {
    clip: rect(25px, 9999px, 75px, 0);
    -webkit-transform: skew(0.36deg);
    transform: skew(0.36deg);
  }
  25% {
    clip: rect(50px, 9999px, 44px, 0);
    -webkit-transform: skew(0.83deg);
    transform: skew(0.83deg);
  }
  30% {
    clip: rect(58px, 9999px, 43px, 0);
    -webkit-transform: skew(0.61deg);
    transform: skew(0.61deg);
  }
  35% {
    clip: rect(41px, 9999px, 57px, 0);
    -webkit-transform: skew(0.79deg);
    transform: skew(0.79deg);
  }
  40% {
    clip: rect(88px, 9999px, 37px, 0);
    -webkit-transform: skew(0.43deg);
    transform: skew(0.43deg);
  }
  45% {
    clip: rect(63px, 9999px, 57px, 0);
    -webkit-transform: skew(0.51deg);
    transform: skew(0.51deg);
  }
  50% {
    clip: rect(88px, 9999px, 25px, 0);
    -webkit-transform: skew(0.5deg);
    transform: skew(0.5deg);
  }
  55% {
    clip: rect(77px, 9999px, 14px, 0);
    -webkit-transform: skew(0.47deg);
    transform: skew(0.47deg);
  }
  60% {
    clip: rect(5px, 9999px, 8px, 0);
    -webkit-transform: skew(0.79deg);
    transform: skew(0.79deg);
  }
  65% {
    clip: rect(62px, 9999px, 25px, 0);
    -webkit-transform: skew(0.13deg);
    transform: skew(0.13deg);
  }
  70% {
    clip: rect(33px, 9999px, 56px, 0);
    -webkit-transform: skew(0.13deg);
    transform: skew(0.13deg);
  }
  75% {
    clip: rect(87px, 9999px, 3px, 0);
    -webkit-transform: skew(0.14deg);
    transform: skew(0.14deg);
  }
  80% {
    clip: rect(74px, 9999px, 72px, 0);
    -webkit-transform: skew(0.32deg);
    transform: skew(0.32deg);
  }
  85% {
    clip: rect(37px, 9999px, 68px, 0);
    -webkit-transform: skew(0.54deg);
    transform: skew(0.54deg);
  }
  90% {
    clip: rect(26px, 9999px, 82px, 0);
    -webkit-transform: skew(0.46deg);
    transform: skew(0.46deg);
  }
  95% {
    clip: rect(81px, 9999px, 52px, 0);
    -webkit-transform: skew(0.59deg);
    transform: skew(0.59deg);
  }
  100% {
    clip: rect(33px, 9999px, 15px, 0);
    -webkit-transform: skew(0.21deg);
    transform: skew(0.21deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(35px, 9999px, 67px, 0);
    -webkit-transform: skew(0.25deg);
    transform: skew(0.25deg);
  }
  5% {
    clip: rect(47px, 9999px, 50px, 0);
    -webkit-transform: skew(0.47deg);
    transform: skew(0.47deg);
  }
  10% {
    clip: rect(13px, 9999px, 32px, 0);
    -webkit-transform: skew(0.59deg);
    transform: skew(0.59deg);
  }
  15% {
    clip: rect(11px, 9999px, 66px, 0);
    -webkit-transform: skew(0.86deg);
    transform: skew(0.86deg);
  }
  20% {
    clip: rect(25px, 9999px, 75px, 0);
    -webkit-transform: skew(0.36deg);
    transform: skew(0.36deg);
  }
  25% {
    clip: rect(50px, 9999px, 44px, 0);
    -webkit-transform: skew(0.83deg);
    transform: skew(0.83deg);
  }
  30% {
    clip: rect(58px, 9999px, 43px, 0);
    -webkit-transform: skew(0.61deg);
    transform: skew(0.61deg);
  }
  35% {
    clip: rect(41px, 9999px, 57px, 0);
    -webkit-transform: skew(0.79deg);
    transform: skew(0.79deg);
  }
  40% {
    clip: rect(88px, 9999px, 37px, 0);
    -webkit-transform: skew(0.43deg);
    transform: skew(0.43deg);
  }
  45% {
    clip: rect(63px, 9999px, 57px, 0);
    -webkit-transform: skew(0.51deg);
    transform: skew(0.51deg);
  }
  50% {
    clip: rect(88px, 9999px, 25px, 0);
    -webkit-transform: skew(0.5deg);
    transform: skew(0.5deg);
  }
  55% {
    clip: rect(77px, 9999px, 14px, 0);
    -webkit-transform: skew(0.47deg);
    transform: skew(0.47deg);
  }
  60% {
    clip: rect(5px, 9999px, 8px, 0);
    -webkit-transform: skew(0.79deg);
    transform: skew(0.79deg);
  }
  65% {
    clip: rect(62px, 9999px, 25px, 0);
    -webkit-transform: skew(0.13deg);
    transform: skew(0.13deg);
  }
  70% {
    clip: rect(33px, 9999px, 56px, 0);
    -webkit-transform: skew(0.13deg);
    transform: skew(0.13deg);
  }
  75% {
    clip: rect(87px, 9999px, 3px, 0);
    -webkit-transform: skew(0.14deg);
    transform: skew(0.14deg);
  }
  80% {
    clip: rect(74px, 9999px, 72px, 0);
    -webkit-transform: skew(0.32deg);
    transform: skew(0.32deg);
  }
  85% {
    clip: rect(37px, 9999px, 68px, 0);
    -webkit-transform: skew(0.54deg);
    transform: skew(0.54deg);
  }
  90% {
    clip: rect(26px, 9999px, 82px, 0);
    -webkit-transform: skew(0.46deg);
    transform: skew(0.46deg);
  }
  95% {
    clip: rect(81px, 9999px, 52px, 0);
    -webkit-transform: skew(0.59deg);
    transform: skew(0.59deg);
  }
  100% {
    clip: rect(33px, 9999px, 15px, 0);
    -webkit-transform: skew(0.21deg);
    transform: skew(0.21deg);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(3deg);
    transform: skew(3deg);
  }
  10% {
    -webkit-transform: skew(3deg);
    transform: skew(3deg);
  }
  20% {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
  }
  30% {
    -webkit-transform: skew(2deg);
    transform: skew(2deg);
  }
  40% {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
  }
  50% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  60% {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
  }
  70% {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
  }
  80% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  90% {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
  }
  100% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
}

@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(3deg);
    transform: skew(3deg);
  }
  10% {
    -webkit-transform: skew(3deg);
    transform: skew(3deg);
  }
  20% {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
  }
  30% {
    -webkit-transform: skew(2deg);
    transform: skew(2deg);
  }
  40% {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
  }
  50% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  60% {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
  }
  70% {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
  }
  80% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  90% {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
  }
  100% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
}

/* animation end */
/*# sourceMappingURL=style.css.map */
